<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <pivotal_analytics>
            <general>
                <enabled>1</enabled>
                <site_key></site_key>
            </general>
        </pivotal_analytics>
    </default>
</config>
